.trash-widget{
    padding: 5px;
}
.trash-widget a{
    color: black;
    text-decoration: none;
    padding: 20px;
}
.trash-window{
    height: 300px;
    padding: 50px;
    text-align: center;
}
.trash-div{
    background-color: white;
    box-shadow: 0px 0px 10px 0.2px grey;
    border-radius: 20px;
    line-height: 30px;
}
.trash-div:hover{
    box-shadow: 0px 0px 10px 2px grey;
}
.trash-window span{
    font-size: 70px;
}